In [1]:
import pandas as pd
import numpy as np

In [2]:
#níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [3]:
#Zip cria uma tupla juntando par dos dois conjuntos de dados
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
#outra forma de exibir a tupla
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
#cria uma tabela com 6 linhas e 2 colunas A e B e gera dados aleatórios
df = pd.DataFrame(np.random.randn(6,2), index=hier_index,columns=['A', 'B'])

In [7]:
df

             A         B
G1 1  1.378230 -0.508619
   2 -0.042229 -1.304394
   3  0.546041 -1.986129
G2 1 -0.618040 -1.235957
   2 -0.222555  0.740402
   3 -0.137370 -1.858096

In [9]:
#mostra elementos de G1
df.loc['G1']

          A         B
1  1.378230 -0.508619
2 -0.042229 -1.304394
3  0.546041 -1.986129

In [11]:
#mostra elementos apenas da linha 1 de G1
df.loc['G1'].loc[1]

A    1.378230
B   -0.508619
Name: 1, dtype: float64

In [12]:
#definindo nomes dos index
df.index.names = ['Grupo', 'Número']

In [13]:
df

                     A         B
Grupo Número
G1    1       1.378230 -0.508619
      2      -0.042229 -1.304394
      3       0.546041 -1.986129
G2    1      -0.618040 -1.235957
      2      -0.222555  0.740402
      3      -0.137370 -1.858096

In [14]:
#xs permite mostrar uma determinada linha dos dois grupos G1 e G2
df.xs(2, level='Número')

              A         B
Grupo
G1    -0.042229 -1.304394
G2    -0.222555  0.740402